.bodyDoc {
	background-color: black;
}

.main {
	color: white;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.start {
	display: block;
	margin: 0 auto;
	color: black;
}

.titleTop {
	text-align: center;
	color: white;
	font-size: 50px;
	display: block;
	margin: 10%;
}

#timeLeft {
	display: block;
	margin: 0 auto;
	text-align: center;
	color: white;

}

/*.answers {
	color: white;
}

.bodyDoc {
	background-color: black;
}

.qa {
	color: white;
	margin-left: 10%;
}

.questions {
	color: white;
}

.titleTop {
	text-align: center;
	color: white;
	font-size: 30px;
}

#timeLeft {
	text-align: center;
	color: white;
}*/